#opencv-python-headless==4.7.0.72
opencv-python-headless
streamlit-image-comparison==0.0.4
pandas==2.0.2
ultralytics==8.0.163

streamlit==1.23.1
Pillow==9.5.0


matplotlib

streamlit-webrtc

numpy

av
pytube

av==10.0.0
numpy==1.25.2

Requests==2.31.0

streamlit_webrtc==0.47.1
supervision==0.16.0

